*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}
div{
     display: inline block;
     height: 500px;
     background-color:red;
     overflow: scroll;
}
div div{
     display: inline-block;
}
div>div{
     background-color: blue;
     height: 100px;
     width: 100px;
     position:sticky;
     top: 200px;
     left: 200px;   
}
div div:nth-child(2){
     background-color: yellow;
     height: 100px;
     width: 100px;
     position:fixed;
     top: 200px;
     left: 300px;   
}
div div:nth-child(3){
     background-color:green;
     height: 100px;
     width: 100px;
     position:relative;
     top: 200px;
     left: 400px; 
     transition: height;
     /* transition: all; */
     /* transition: background-color; */
     transition-duration: 3s;
     animation-name: pk;
     animation-duration: 3s;
     animation-direction: normal;  
     animation-iteration-count: infinite;    
}
@keyframes pk {
     0%{
          background-color:aqua;
     }
     50%{
          background-color:green;
     }
     80%{
          background-color: blueviolet;
     }
     
}
div div:nth-child(3):hover{
     height: 200px;
     background-color:red;
     border-radius: 20px;
}
